/* --------- ANIMADOS -------- */

.hit .points {
    position: absolute;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f00;
    text-shadow: 1px 1px 5px black;
    animation: losing-point;
    animation-duration: 2s;
}

@keyframes losing-point {
    0% { bottom: 0; }
    100% { bottom: 100%; }
}

/* PERSONAGENS */

.movendo {
    animation-timing-function: step-start;
}

.charlie, .elen {
    background-image: url("/img/battlers/3X Size/FemHero_GunD.png");
    background-size: 920px 360px;
    width: 50px;
    height: 50px;
    position: absolute;
}

/* CHARLIE */

.charlie.movendo {
    animation-duration: .4s;
    animation-iteration-count: infinite;
}

.charlie.descendo { background-position: -90px 180px; }
.charlie.esquerda {background-position: -90px 135px;}
.charlie.direita {background-position: -90px 90px;}
.charlie.subindo { background-position: -90px 45px;}
.charlie.parado.descendo {background-position: -90px 180px;}
.charlie.parado.esquerda {background-position: -90px 135px;}
.charlie.parado.direita {background-position: -90px 90px;}
.charlie.parado.subindo {background-position: -90px 45px;}

.charlie.movendo.esquerda { animation-name: charlie-esquerda; }
.charlie.movendo.direita { animation-name: charlie-direita; }
.charlie.movendo.subindo { animation-name: charlie-subindo; }
.charlie.movendo.descendo { animation-name: charlie-descendo; }

@keyframes charlie-descendo {
    0% { background-position: -135px 180px; }
    50% { background-position: -10px 180px; }
}
@keyframes charlie-esquerda {
    0% { background-position: -135px 135px; }
    50% { background-position: -10px 135px; }
}
@keyframes charlie-direita {
    0% { background-position: -135px 90px; }
    50% { background-position: -10px 90px; }
}
@keyframes charlie-subindo {
    0% { background-position: -135px 45px; }
    50% { background-position: -10px 45px; }
}

/* HIT */

.charlie.hit, .elen.hit {
    animation: charlie-hit;
    animation-duration: .125s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
}

@keyframes charlie-hit {
    0% { filter: invert(0); }
    50% { filter: invert(1); }
}

/* Disparo */

.charlie.parado.direita.dispara.pistola {
    animation: charlie-dispara-pistola-parado-direita;
    animation-duration: .2s;
    animation-timing-function: step-start;
}

@keyframes charlie-dispara-pistola-parado-direita {
    0% { background-position: -90px 90px; }
    50% { background-position: 140px 90px; }
}

.charlie.parado.descendo.dispara.pistola {
    animation: charlie-dispara-pistola-parado-descendo;
    animation-duration: .2s;
    animation-timing-function: step-start;
}

@keyframes charlie-dispara-pistola-parado-descendo {
    0% { background-position: -90px 180px; }
    50% { background-position: 140px 180px; }
}

.charlie.parado.esquerda.dispara.pistola {
    animation: charlie-dispara-pistola-parado-esquerda;
    animation-duration: .2s;
    animation-timing-function: step-start;
}

@keyframes charlie-dispara-pistola-parado-esquerda {
    0% { background-position: -90px 135px; }
    50% { background-position: 140px 135px; }
}

.charlie.parado.subindo.dispara.pistola {
    animation: charlie-dispara-pistola-parado-subindo;
    animation-duration: .2s;
    animation-timing-function: step-start;
}

@keyframes charlie-dispara-pistola-parado-subindo {
    0% { background-position: -90px 45px; }
    50% { background-position: 140px 45px; }
}

/* ELEN */

.elen.movendo { animation-duration: 1s; }

.elen.descendo { background-position: -90px 0px; }
.elen.esquerda {background-position: -90px -45px;}
.elen.direita {background-position: -90px -90px;}
.elen.subindo { background-position: -90px -135px;}
.elen.parado.descendo {background-position: -90px 0px;}
.elen.parado.esquerda {background-position: -90px -45px;}
.elen.parado.direita {background-position: -90px -90px;}
.elen.parado.subindo {background-position: -90px -135px;}

.elen.movendo.esquerda { animation-name: elen-esquerda; }
.elen.movendo.direita { animation-name: elen-direita; }
.elen.movendo.subindo { animation-name: elen-subindo; }
.elen.movendo.descendo { animation-name: elen-descendo; }

@keyframes elen-descendo {
    0% { background-position: -135px 0px; }
    50% { background-position: -10px 0px; }
}
@keyframes elen-esquerda {
    0% { background-position: -135px -45px; }
    50% { background-position: -10px -45px; }
}
@keyframes elen-direita {
    0% { background-position: -135px -90px; }
    50% { background-position: -10px -90px; }
}
@keyframes elen-subindo {
    0% { background-position: -135px -135px; }
    50% { background-position: -10px -135px; }
}

/* FOGO */

[image=fogo] {
    box-shadow: inset 0px -33px 23px rgba(231, 107, 5, 0.3), 0px -5px 13px rgb(231 107 5 / .3);     
    height: 70%;
    width: auto;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-name: trepida;
}
@keyframes trepida {
    0% {
        filter: blur(1px);
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    50% {
        filter: blur(2px);
        transform: matrix(.8, 0, 0, .99, .7, 0);
    }
    100% {
        filter: blur(1px);
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}

/* PROJÉTIL */

.projetil {
    position: absolute;
    background-color: orange;
    width: 2px;
    height: 2px;
    animation: projetil;
    animation-iteration-count: 1;
    animation-duration: 2s;
    z-index: 9;
    animation-timing-function:ease-out;
}

@keyframes projetil {
    0% { left: 0% }
    100% { left: 3000% }
}